body,
html {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

#app {
    /* change the layout of the app to be grid */
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    /* make height of the grid take the entire viewport height */
    /* height: 100vh;
  width: 100vw; */
    display: inline;
}

header {
    /* assigning the grid area and color */
    grid-area: header;
    background-color: rgb(227, 74, 74);
    /* stating that this is going to be a flex box for a row and that contents will not wrap onto a new line */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* align-content: center; */
}

main {
    grid-area: main;
    background-color: rgb(240, 182, 73);
}

footer {
    grid-area: footer;
    background-color: rgb(240, 240, 148);
    display: flex;
    justify-content: center;
}

nav {
    /* we want the nav with the links to be on the top side of the header flexbox */
    align-self: flex-start;
}

h1 {
    /* we want the h1 header to be aligned on the top side of the header flexbox */
    align-self: flex-endstart;
}

img {
    width: 100px;
}


/* lets make the layout of the store item */
/* want main to be a grid layout */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* add a gap vertically and horizontally between all the individual grid elements */
    gap: 1em;
    /* add space from last row to grid elements */
    padding: 1em;
}

/* now to apply css to store items */
main>div.store-item {
    border: 1px solid black;
}

/* giving the last row equal spacing */
.store-item span {
    padding: 7px;
}


/* ALEC M TRIED DOING A FLEXBOX (SEE BELOW), BUT THE LAST ROW WOULD ALWAYS EXPAND TO FILL THE AVAILABLE SPACE WHICH I DON'T THINK IS WHAT PROFESSOR WANTS
SO I SWAPPED TO A GRID (AS SEEN ABOVE). */

/* lets assign main to be a flex-box since we want it to wrap around which flex-boxes do nicely. */
/* main{ */
/* main is now a flexbox that will wrap and have individual items spaced evenly*/
/* display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}


main > div.store-item{
    border: 1px solid black;
    flex: 0 0 20%
} */